var Comment = React.createClass({
  render: function(){
    return(
      <div classname="comment">
        {this.props.comment.entry}
        <p></p>
        <cite>Entered by {this.props.comment.user.email}</cite>
      </div>
    )
  }
})
