//Part 1: set up the component
var Display1 = React.createClass({
  render: function(){
    return (
      <div class="container">
        <h1>I work, bitch</h1>
      </div>
    )
  }
})

var Display2 = React.createClass({

  getInitialState(){
    return {
      room: {
        title: "...loading...",
        id: this.props.room.id,
        comments: []
      }
    }
  },

  fetchComments(){
    var component = this;

    $.getJSON("/api/rooms/" + this.state.room.id + ".json")
      .done(function(json){
          component.setState({room: json.room})
      })
  },

  componentDidMount(){
    this.fetchComments();
    this.commentInterval = setInterval(this.fetchComments(3000));
  },

  componentWillUnmount(){
    clearInterval(commentInterval)
  },

  render: function(){
    return <div>
      ({this.state.room.comments.length})
      Hello
      <div className="comments">
        {this.state.room.comments.map(function(comment){
          return <Comment comment={comment}></Comment>
        })}
      </div>
      <CommentForm room={this.state.room}></CommentForm>
    </div>
  },

})
