<h1>Rooms</h1>
<p>the world's best chatroom hub.</p>

<% @rooms.each do |room| %>
  <div class="rooms">
    <h2><%= link_to "#{room.title}", rooms_path(id: room.id) %></h2>
    <p><%= room.description %></p>
  </div>
<% end %>
